/* litografia*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
 *{
    font-family: 'Noto Sans Linear B', sans-serif;
font-family: 'Poppins', sans-serif;
color: rgb(25, 28, 28);


 }
 .perfil{
    width: 100%;
    padding-top: 300px;
    
 }

 .text{
    padding-top:300px;
 }

 
   
 .text1{
   padding-top:400px;
} 
      
 
   
  
  
   

      
      
      
      
   
